* {
    margin: 0;
    padding: 0;
}

@keyframes animacao {
    0%{margin-top: 0px;}
    100%{margin-top: 80px;}
}

.nome-tela {
    font-size: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: #000000ae;
    margin-top: 80px;
    animation-name: animacao;
    animation-duration: 2s;
}

.cards {
    display: flex;
    flex-wrap: wrap; /* Permite que os cards quebrem para a próxima linha em telas menores */
    justify-content: center;
}

.card {
    background-color: #E9E9E9;
    color: #000000ae;
    font-weight: bold;
    padding: 30px;
    width: calc(33.33% - 20px); /* Usando calc para levar em conta a margem à direita */
    max-width: 150px;
    border-radius: 8px;
    font-size: 1.5em; /* Ajuste conforme necessário */
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.675);
    margin-right: 2%; /* Usando porcentagem em vez de valor fixo */
    margin-top: 80px;
    cursor: pointer;
}

.card:hover {
    transform: scale(1.01);
}

.main {
    display: flex;
}

.footer {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 20px;
}

#sair {
    position: absolute;
    bottom: 0;
    right: 20px;
    margin: 20px;
    padding: 10px;
    width: 100px;
    border-radius: 10px;
    border: none;
    background-color: #d4d4d4;
    color: #0085FF;
}

#sair:hover {
    transform: scale(1.01);
    cursor: pointer;
    background-color: #d4d4d4e0;
}

@media screen and (max-width: 480px) {
    .nome-tela {
        font-size: 30px;
    }

    #sair {
        position: static;
    }

    .footer {
        position: fixed;
    }

    .card {
        margin-top: 10px;
    }

    .cards {
        margin-top: 50px;
    }
}