@keyframes animacao {
    0%{background-color: #4242420d;}
    100%{background-color: #4242424c;}
}

* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    overflow: hidden;
    height: 100vh;
    margin: 0;
}

header {
    width: 100%;
    background-color: rgb(219, 219, 219);
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
}

.card {
    width: 100%;
    max-width: 200px;
    background-color: #6DA7DD;
    height: 60px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    color: white;
    font-weight: bold;
}

#sgu {
    font-size: 28px;
}

#sgu-user {
    font-size: 20px;
}

.botoes-header {
    margin: 20px;
}

.voltar,
.salvar {
    padding: 10px;
    width: 100px;
    border-radius: 8px;
    border: none;
    background-color: #4d9de9;
    color: white;
    font-size: 15px;
    box-shadow: 0px 2px 4px black;
    margin: 5px;
}

.principal {
    display: flex;
    height: calc(100vh - 100px);
    /* Ajusta a altura da div principal excluindo a altura do header */
    overflow: auto;
    /* Adiciona barra de rolagem à div principal */
}

main {
    width: 350px;
    background-color: rgb(219, 219, 219);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.acoes,
.tipo {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.acoes {
    margin-top: 50px;
}

.button {
    padding: 10px;
    width: 90%;
    margin: 5px;
    border-radius: 10px;
    border: none;
    background-color: #E9E9E9;
    color: #747474;
    font-size: 25px;
    font-weight: bold;
    box-shadow: 0px 1px 3px black;
}

.incluir {
    width: 100%;
}

.incluir p {
    margin-left: 15px;
    font-size: 20px;
    font-weight: bold;
    color: #424242;
}

#tabela {
    border-collapse: collapse;
    width: 100%;
}

td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    max-height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

tr {
    height: 40px;
}

th {
    height: 40px;
}

td.few-items {
    max-height: none;
}

.efeito:hover {
    transform: scale(1.01);
    cursor: pointer;
}

.fade {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    background-color: #4242424c;
    display: none;
    justify-content: center;
    align-items: center;
    animation-name: animacao;
    animation-duration: 1s;
}

.modal {
    width: 100%;
    max-width: 500px;
    background-color: #e0e0e0;
    border-radius: 8px;
}

.container-main {
    display: flex;
}

.linha {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.linha input {
    padding: 8px;
    margin: 20px;
    outline: none;
    border: none;
    background-color: #e0e0e0;
    border-bottom: 1px solid black;
}

.nome-modal {
    width: 100%;
    text-align: center;
    margin-top: 50px;
    font-size: 25px;
    font-weight: bold;
    color: #424242;
}

.botao-cadastrar {
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
}

.botao-cadastrar button {
    width: 80%;
    padding: 10px;
    border: none;
    border-radius: 8px;
    background-color: #AEAEAE;
    color: rgb(81, 81, 81);
    font-weight: bold;
}

.botao-cadastrar button:hover {
    background-color: #aeaeaee6;
    cursor: pointer;
}

.close-modal {
    width: 100%;
    display: flex;
    justify-content: end;
    height: 20px;
}

.close-modal p {
    margin: 20px;
    font-size: 20px;
    cursor: pointer;
}

@media screen and (max-width: 480px) {
    .principal {
        flex-direction: column;
    }

    main {
        width: 100%;
    }
}